
.subHeader {
  background : #242424;
  height : 45px;
  margin-top : 0;
  border-bottom: 2px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  position: fixed;
  width: 100%;
  z-index: 1020;
  .subhead {
    padding : 10px 40px;
    color : #fafafa;

    font-size: 16px;
    .name {
      font-weight: bold;
      margin-left: 5px;
    }
  }
  .subheader-badges {
    padding-left: 30px;
    span {
      margin-left: 10px;
      color : #242424;
      font-size: 16px;
    }
  }
  .platinum {
    .subheader-badges {
      span {
        background : #E5E4E2;
      }
    }
  }
  .gold {
    .subheader-badges {
      span {
        background : #D4AF37;
      }
    }
  }
  .silver {
    .subheader-badges {
      span {
        background : #C0C0C0;
      }
    }
  }
  .bronze {
    .subheader-badges {
      span {
        background : #CD7F32;
      }
    }
  }
}
