.stats {
  margin-top : 100px;
}
.statsTbl {
  thead tr th {
    border-bottom: 2px solid #242424;
  }
}
.mainCol {
  tr {
    th:last-child, td:last-child {
      background: #E9F9FA;
    }
  }
}
.mainCol1 {
  tr {
    th:first-child, td:first-child {
      background: #E9F9FA;
    }
  }
}
