.zine-navbar {
  background-color: #F04242;
  background-image: none;
  margin-bottom: 0;
  border-bottom : #242424;
}

.zine-brand {
  color: #fafafa !important;
  padding-bottom: 20px !important;
  .brand{
    margin-top: 0;
    font-family: impact;
    // font-weight: bold;
  }
}

.zine-navbar-ul {
  a {
    color : #FAFAFA !important;
    padding : 12px 0 !important;
    text-align: center;
    width : 125px;
  }
  li.active {
    a {
      color : #F04242 !important;
      background-color: #F1E6E6 !important;
    }
  }
  a:hover, a:focus {
    background-color: #F18787 !important;
  }
  a:hover .game:before {
    content: 'GAME';
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
  }
  a:hover .stat:before {
    content: 'STATS';
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
  }
  a:hover .rules:before {
    content: 'RULES';
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
  }
  a:hover .logIn:before {
    content: 'LOG IN';
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
  }
  a:hover .settings:before {
    content: 'SETTINGS';
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding:13px 0 !important;
  }
}

.zine-dropdown-menu {
  background-color: #F1E6E6 !important;
  li a{
    color : #333333 !important;
  }
  .divider {
    background-color: #242424 !important;
  }
}

.navbar-header {
    background: #242424 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.settings {
  display: block !important;
}

.menuIcon {
  font-size: 21px;
}
