
.main {
  //margin-top: 80px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.welcome {
  color : #fafafa;
}

.howToPlayLink {
  color : #fafafa !important;
}

.showCards {
  max-width : 25px !important;
  float: left !important;
  margin-bottom: 0 !important;
}

.playGame {
  height : 550px;

  background: #1A3E4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1A3E4D, #6F95A5);

  border-radius: 10%;
  border: 10px solid #fafafa;
  z-index : 1000;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .playGameBtn {
    margin : 0 auto;
    display: block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    margin-top: 140px;
    .playGameIcon {
      margin-left: 5px;
      font-size: 36px;
      font-weight: bold;
    }
  }
}


.userGameThumbnail {
  width : 148px;
  margin: 0 auto;
  padding: 4px;
  position: absolute;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .points-progress {
    margin-bottom: 5px;
  }
  .userName {
    color: #FAFAFA;
    font-size: 20px;
  }
}
.user1 {
  bottom: 0;
  left : 65%;
}
.user2 {
  top: 0;
  left : 5%;
}
.user3 {
  top: 0;
  left : 31%;
}
.user4 {
  top: 0;
  left : 57%;
}
.user5 {
  top: 0;
  right : 5%;
}

.showTimer {
  position: absolute;
  bottom : 5%;
  right : 2%;
  text-align: center;
}

.timer {
  width : 180px;
  height : 180px;
  border-radius : 50%;
  border: 5px solid #FAFAFA;
  padding: 10px 20px 40px 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .timeText {
    color : #FAFAFA;
    text-align-last: center;
    margin-bottom: 0;
  }
  .timeSeconds {
    color: #FAFAFA;
    font-size: 65px;
    font-weight: bold;
    width: 100%;
  }
}

.waitTime {
  position: absolute;
  top: 48%;
  left : 22%;
  p {
    color : #FAFAFA;
    float : left;
    font-weight: bold;
    font-size: 16px;
  }
}

.zineCards {
  position: absolute;
  left : 5%;
  bottom: 3%;
  .card {
    //width : 100px;
    float : left;
    margin-right: 10px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .disabled {
      opacity: 1;
    }
    .btn-drop {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: -55px;
      margin-left: 20px;
    }
  }
  .cardsTotal {
    color : #FAFAFA;
    font-weight: bold;
    text-align: center;
  }
}

.gameWin {
  border : 3px solid #FAFAFA;
  background-color: #83F37F;
}
.gameLoss {
  border : 3px solid #FAFAFA;
  background-color: #EE8D7F;
}
.newGame {
  border : none;
  background-color: transparent;
}

.pickCard {
  width: 100px;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.timerUser {
  width: 50px;
  height: 50px;
  border: 4px solid #fafafa;
  border-radius: 50%;
  background: #87431C;
  padding: 3px 0;
  margin-right: 20px;
  left: -35px;
  top: 50px;
  position: absolute;
  font-weight: bold;
  font-size: 25px;
}
.userImg {
  width: 140px;
}
.playCards {
  width: 80px;
}

// .lastCard {
//   position: relative;
//   -webkit-animation-name: lastcard; /* Safari 4.0 - 8.0 */
//   -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
//   animation-name: lastcard;
//   animation-timing-function: ease;
//   -webkit-animation-timing-function: ease;
//   animation-duration: 0.5s;
// }
// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes lastcard {
//     0%   {left:50%; bottom: 10%;}
//     100% {left:38%; bottom: 3%;}
// }
//
// /* Standard syntax */
// @keyframes lastcard {
//     0%   {left:50%; bottom: 10%;}
//     100% {left:38%; bottom: 3%;}
// }
//
// .dropedCard {
//   position: relative;
//   -webkit-animation-name: dropcard; /* Safari 4.0 - 8.0 */
//   -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
//   animation-name: dropcard;
//   animation-timing-function: ease;
//   -webkit-animation-timing-function: ease;
//   animation-duration: 0.5s;
// }
// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes lastcard {
//     0% {left:35%; bottom: 3%;}
//     100%   {left:50%; bottom: 10%;}
// }
//
// /* Standard syntax */
// @keyframes lastcard {
//     0% {left:35%; bottom: 3%;}
//     100%   {left:50%; bottom: 10%;}
// }


/*
//////////// MEDIA QUERIES //////////////
*/
@media screen and (max-width: 1000px) and (min-width: 750px) {
  .userImg {
    width: 100px;
  }
  .userGameThumbnail {
    width: 106px;
  }
  .userName {
    font-size: 15px !important;
  }
  .waitTime{
    left: 21%;
    p {
      font-size: 15px !important;
    }
  }
  .playGame {
    height: 500px;
  }
  .pickCard, .playCards {
    width: 55px;
  }
  .showTimer{
    right: 1%;
  }
  .timer {
    width : 115px;
    height: 115px;
    padding: 10px 15px 20px 15px;
    p {
      margin-top: 5px !important;
      font-size: 12px;
    }
    .timeSeconds {
      font-size: 40px;
    }
  }
  .placeBtn {
    padding: 6px 10px !important;
    font-size: 13px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 10px !important;
  }
  .cardsTotal span{
    font-size: 12px !important;
  }
  .timerUser {
    width: 45px !important;
    height: 45px !important;
    border: 3px solid #fafafa !important;
    font-size: 22px !important;
    top: 40px !important;
    left: -30px !important;
  }
  .dropCard {
    width: 55px;
    h3 {
      font-size: 13px !important;
      margin-top: 5px !important;
    }
    h6 {
      display: none !important;
    }
  }
}
@media screen and (max-width: 750px) and (min-width: 600px) {
  .userImg {
    width: 80px;
  }
  .userGameThumbnail {
    width: 86px;
  }
  .userName {
    font-size: 14px !important;
  }
  .waitTime{
    left: 20%;
    p {
      font-size: 14px !important;
    }
  }
  .playGame {
    height: 430px;
  }
  .pickCard, .playCards {
    width: 40px;
  }
  .showTimer{
    right: 1%;
  }
  .timer {
    width : 100px;
    height: 100px;
    padding: 5px 10px 10px 5px;
    p {
      margin-top: 5px !important;
      font-size: 11px;
    }
    .timeSeconds {
      font-size: 30px;
    }
  }
  .placeBtn {
    padding: 5px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 10px !important;
  }
  .cardsTotal span{
    font-size: 10px !important;
  }
  .timerUser {
    width: 40px !important;
    height: 40px !important;
    border: 3px solid #fafafa !important;
    font-size: 18px !important;
    top: 30px !important;
    left: -30px !important;
  }
  .dropCard {
    width: 50px;
    h3 {
      font-size: 12px !important;
      margin-top: 5px !important;
    }
    h6 {
      display: none !important;
    }
  }
}
@media screen and (max-width: 600px) and (min-width: 450px) {
  .userImg {
    width: 65px;
  }
  .userGameThumbnail {
    width: 70px;
  }
  .userName {
    font-size: 12px !important;
  }
  .waitTime{
    left: 20%;
    p {
      font-size: 12px !important;
    }
  }
  .playGame {
    height: 370px;
  }
  .pickCard, .playCards {
    width: 30px;
  }
  .showTimer{
    right: 1%;
  }
  .timer {
    width : 80px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    border: 3px solid #fafafa;
    p {
      margin-top: 8px !important;
      font-size: 10px;
    }
    .timeSeconds {
      font-size: 25px;
    }
  }
  .placeBtn {
    padding: 5px 5px !important;
    font-size: 11px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
  }
  .cardsTotal span{
    font-size: 9px !important;
  }
  .timerUser {
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #fafafa !important;
    font-size: 16px !important;
    top: 30px !important;
    left: -25px !important;
  }
  .dropCard {
    width: 60px;
    h3 {
      font-size: 14px !important;
      margin-top: 5px !important;
    }
    h6 {
      margin-bottom: 5px;
    }
  }
}
@media screen and (max-width: 450px){
  .userImg {
    width: 50px;
  }
  .userGameThumbnail {
    width: 55px;
  }
  .userName {
    font-size: 10px !important;
  }
  .waitTime{
    left: 20%;
    p {
      font-size: 10px !important;
    }
  }
  .playGame {
    height: 300px;
  }
  .pickCard, .playCards {
    width: 25px;
  }
  .showTimer{
    right: 1%;
  }
  .timer {
    width : 75px;
    height: 75px;
    padding: 5px 1px 5px 1px;
    border: 2px solid #fafafa;
    p {
      margin-top: 8px !important;
      font-size: 9px;
    }
    .timeSeconds {
      font-size: 20px;
    }
  }
  .placeBtn {
    padding: 1px 3px !important;
    font-size: 10px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 3px !important;
  }
  .cardsTotal span{
    font-size: 8px !important;
  }
  .timerUser {
    width: 28px !important;
    height: 28px !important;
    border: 2px solid #fafafa !important;
    font-size: 12px !important;
    top: 20px !important;
    left: -20px !important;
  }
  .dropCard {
    width: 40px;
    h3 {
      font-size: 12px !important;
      margin-top: 3px !important;
    }
    h6 {
      display: none !important;
    }
  }
}
// @media screen and (max-width: 1000px) and (min-width: 520px) {
//
// }
