
.main {
  margin-top: 80px;
  margin-bottom: 20px;
}

.welcome {
  color : #fafafa;
}

.howToPlayLink {
  color : #fafafa !important;
}

.showCards {
  max-width : 25px !important;
  float: left !important;
  margin-bottom: 0 !important;
}

.playGame {
  height : 550px;

  background: #1A3E4D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1A3E4D, #6F95A5);

  border-radius: 10%;
  border: 10px solid #fafafa;
  z-index : 1000;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .playGameBtn {
    margin : 0 auto;
    display: block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    margin-top: 140px;
    .playGameIcon {
      margin-left: 5px;
      font-size: 36px;
      font-weight: bold;
    }
  }
}


.userGameThumbnail {
  width : 140px;
  margin: 0 auto;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .points-progress {
    margin-bottom: 5px;
  }
}
.user1 {
  bottom: 0;
  left : 55%;
}
.user2 {
  top: 0;
  left : 10%;
}
.user3 {
  top: 0;
  left : 30%;
}
.user4 {
  top: 0;
  left : 55%;
}
.user5 {
  top: 0;
  right : 10%;
}

.showTimer {
  position: absolute;
  bottom : 5%;
  right : 5%;
  text-align: center;
}

.timer {
  width : 200px;
  height : 200px;
  border-radius : 50%;
  border: 5px solid #FAFAFA;
  padding: 10px 20px 40px 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .timeText {
    color : #FAFAFA;
    text-align-last: center;
    margin-bottom: 0;
  }
  .timeSeconds {
    color: #FAFAFA;
    font-size: 65px;
    font-weight: bold;
    width: 100%;
  }
}

.waitTime {
  p {
    color : #FAFAFA;
    position: absolute;
    top: 48%;
    left : 35%;
    font-weight: bold;
    font-size: 16px;
  }
}

.zineCards {
  position: absolute;
  left : 5%;
  bottom: 3%;
  .card {
    width : 100px;
    float : left;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .cardsTotal {
    color : #FAFAFA;
    font-weight: bold;
    text-align: center;
  }
}

.gameWin {
  border : 3px solid green;
}
.gameLoss {
  border : 3px solid red;
}
.newGame {
  border : none;
}
