html {
  min-height: 100%; }

body {
  min-height: 100%;
  margin: 0;
  position: absolute;
  width: 100%; }

body {
  background-color: #F1E6E6; }
  body .mainContent {
    margin-top: 75px;
    margin-bottom: 30px;
    min-height: 568px; }

.voffset1 {
  margin-top: 5px; }

.voffset2 {
  margin-top: 10px; }

.voffset3 {
  margin-top: 15px; }

.voffset4 {
  margin-top: 20px; }

.voffset5 {
  margin-top: 25px; }

.voffset6 {
  margin-top: 30px; }

.voffset1b {
  margin-bottom: 5px; }

.voffset2b {
  margin-bottom: 10px; }

.voffset3b {
  margin-bottom: 15px; }

.voffset4b {
  margin-bottom: 20px; }

.voffset5b {
  margin-bottom: 25px; }

.voffset6b {
  margin-bottom: 30px; }

.hoffset1r {
  margin-right: 5px; }

.hoffset2r {
  margin-right: 10px; }

.hoffset3r {
  margin-right: 15px; }

.hoffset4r {
  margin-right: 20px; }

.hoffset5r {
  margin-right: 25px; }

.hoffset6r {
  margin-right: 30px; }

.hoffset1 {
  margin-left: 5px; }

.hoffset2 {
  margin-left: 10px; }

.hoffset3 {
  margin-left: 15px; }

.hoffset4 {
  margin-left: 20px; }

.hoffset5 {
  margin-left: 25px; }

.hoffset6 {
  margin-left: 30px; }

.vpadding1 {
  padding-top: 5px; }

.vpadding1 {
  padding-top: 10px; }

.vpadding1 {
  padding-top: 15px; }

.vpadding1 {
  padding-top: 20px; }

.vpadding1 {
  padding-top: 25px; }

.vpadding1 {
  padding-top: 30px; }

.vpadding1b {
  padding-bottom: 5px; }

.vpadding1b {
  padding-bottom: 10px; }

.vpadding1b {
  padding-bottom: 15px; }

.vpadding1b {
  padding-bottom: 20px; }

.vpadding1b {
  padding-bottom: 25px; }

.vpadding1b {
  padding-bottom: 30px; }

.hpadding1r {
  padding-right: 5px; }

.hpadding1r {
  padding-right: 10px; }

.hpadding1r {
  padding-right: 15px; }

.hpadding1r {
  padding-right: 20px; }

.hpadding1r {
  padding-right: 25px; }

.hpadding1r {
  padding-right: 30px; }

.hpadding1 {
  padding-left: 5px; }

.hpadding1 {
  padding-left: 10px; }

.hpadding1 {
  padding-left: 15px; }

.hpadding1 {
  padding-left: 20px; }

.hpadding1 {
  padding-left: 25px; }

.hpadding1 {
  padding-left: 30px; }

.neg {
  color: #d9534f; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-muted {
  color: #797D7F; }

.no-border tr th, .no-border tr td {
  border: none !important; }

.border-bottom tr {
  border-bottom: 1px solid silver; }

.spinner {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.zine-navbar {
  background-color: #F04242;
  background-image: none;
  margin-bottom: 0;
  border-bottom: #242424; }

.zine-brand {
  color: #fafafa !important;
  padding-bottom: 20px !important; }
  .zine-brand .brand {
    margin-top: 0;
    font-family: impact; }

.zine-navbar-ul a {
  color: #FAFAFA !important;
  padding: 12px 0 !important;
  text-align: center;
  width: 125px; }
.zine-navbar-ul li.active a {
  color: #F04242 !important;
  background-color: #F1E6E6 !important; }
.zine-navbar-ul a:hover, .zine-navbar-ul a:focus {
  background-color: #F18787 !important; }
.zine-navbar-ul a:hover .game:before {
  content: 'GAME';
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px; }
.zine-navbar-ul a:hover .stat:before {
  content: 'STATS';
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px; }
.zine-navbar-ul a:hover .rules:before {
  content: 'RULES';
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px; }
.zine-navbar-ul a:hover .logIn:before {
  content: 'LOG IN';
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px; }
.zine-navbar-ul a:hover .settings:before {
  content: 'SETTINGS';
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  padding: 13px 0 !important; }

.zine-dropdown-menu {
  background-color: #F1E6E6 !important; }
  .zine-dropdown-menu li a {
    color: #333333 !important; }
  .zine-dropdown-menu .divider {
    background-color: #242424 !important; }

.navbar-header {
  background: #242424 !important;
  padding-left: 15px;
  padding-right: 15px; }

.settings {
  display: block !important; }

.menuIcon {
  font-size: 21px; }

.rulesThumbnail {
  padding: 20px 20px 30px 20px;
  margin-top: 30px; }

.rulesSubHead {
  color: #D22828; }

.rulesLi li {
  list-style-type: square; }

.rights {
  color: #F1E6E6 !important;
  font-weight: bold; }

.footer-nav li {
  list-style: none;
  display: inline; }
  .footer-nav li a {
    color: #F1E6E6 !important;
    font-weight: bold; }
.footer-nav .divider {
  padding: 0 10px;
  color: #FAFAFA !important; }

.zine-navbar-bottom {
  background-color: #242424;
  padding-top: 10px;
  position: static !important; }

.login-form {
  padding: 40px; }

.login-nav {
  background-color: #f7f7f7; }
  .login-nav .loginMenu {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; }
  .login-nav .loginMenu a {
    color: #242424 !important; }
  .login-nav .loginMenu a:hover, .login-nav .loginMenu a:focus {
    text-decoration: none; }
  .login-nav .active {
    background-color: #FFFFFF;
    border-bottom: 2px solid #F04242; }

.user-panel-header {
  margin-top: 5px;
  margin-bottom: 5px; }

.avatar-img {
  height: 200px;
  width: 200px; }

.avatar-changeImg {
  height: 200px; }

.saveBtn {
  color: #fafafa; }

.subHeader {
  background: #242424;
  height: 45px;
  margin-top: 50px;
  border-bottom: 2px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  position: fixed;
  width: 100%;
  z-index: 1020; }
  .subHeader .subhead {
    padding: 10px 40px;
    color: #fafafa;
    font-size: 16px; }
    .subHeader .subhead .name {
      font-weight: bold;
      margin-left: 5px; }
  .subHeader .subheader-badges {
    padding-left: 30px; }
    .subHeader .subheader-badges span {
      margin-left: 10px;
      color: #242424;
      font-size: 16px; }
  .subHeader .platinum .subheader-badges span {
    background: #E5E4E2; }
  .subHeader .gold .subheader-badges span {
    background: #D4AF37; }
  .subHeader .silver .subheader-badges span {
    background: #C0C0C0; }
  .subHeader .bronze .subheader-badges span {
    background: #CD7F32; }

.main {
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.welcome {
  color: #fafafa; }

.howToPlayLink {
  color: #fafafa !important; }

.showCards {
  max-width: 25px !important;
  float: left !important;
  margin-bottom: 0 !important; }

.playGame {
  height: 550px;
  background: #1A3E4D;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1A3E4D, #6F95A5);
  border-radius: 10%;
  border: 10px solid #fafafa;
  z-index: 1000;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .playGame .playGameBtn {
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    margin-top: 140px; }
    .playGame .playGameBtn .playGameIcon {
      margin-left: 5px;
      font-size: 36px;
      font-weight: bold; }

.userGameThumbnail {
  width: 148px;
  margin: 0 auto;
  padding: 4px;
  position: absolute; }
  .userGameThumbnail .points-progress {
    margin-bottom: 5px; }
  .userGameThumbnail .userName {
    color: #FAFAFA;
    font-size: 20px; }

.user1 {
  bottom: 0;
  left: 65%; }

.user2 {
  top: 0;
  left: 5%; }

.user3 {
  top: 0;
  left: 31%; }

.user4 {
  top: 0;
  left: 57%; }

.user5 {
  top: 0;
  right: 5%; }

.showTimer {
  position: absolute;
  bottom: 5%;
  right: 2%;
  text-align: center; }

.timer {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #FAFAFA;
  padding: 10px 20px 40px 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .timer .timeText {
    color: #FAFAFA;
    text-align-last: center;
    margin-bottom: 0; }
  .timer .timeSeconds {
    color: #FAFAFA;
    font-size: 65px;
    font-weight: bold;
    width: 100%; }

.waitTime {
  position: absolute;
  top: 48%;
  left: 22%; }
  .waitTime p {
    color: #FAFAFA;
    float: left;
    font-weight: bold;
    font-size: 16px; }

.zineCards {
  position: absolute;
  left: 5%;
  bottom: 3%; }
  .zineCards .card {
    float: left;
    margin-right: 10px; }
    .zineCards .card .disabled {
      opacity: 1; }
    .zineCards .card .btn-drop {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: -55px;
      margin-left: 20px; }
  .zineCards .cardsTotal {
    color: #FAFAFA;
    font-weight: bold;
    text-align: center; }

.gameWin {
  border: 3px solid #FAFAFA;
  background-color: #83F37F; }

.gameLoss {
  border: 3px solid #FAFAFA;
  background-color: #EE8D7F; }

.newGame {
  border: none;
  background-color: transparent; }

.pickCard {
  width: 100px;
  position: absolute;
  bottom: 10%;
  left: 50%; }

.timerUser {
  width: 50px;
  height: 50px;
  border: 4px solid #fafafa;
  border-radius: 50%;
  background: #87431C;
  padding: 3px 0;
  margin-right: 20px;
  left: -35px;
  top: 50px;
  position: absolute;
  font-weight: bold;
  font-size: 25px; }

.userImg {
  width: 140px; }

.playCards {
  width: 80px; }

/*
//////////// MEDIA QUERIES //////////////
*/
@media screen and (max-width: 1000px) and (min-width: 750px) {
  .userImg {
    width: 100px; }

  .userGameThumbnail {
    width: 106px; }

  .userName {
    font-size: 15px !important; }

  .waitTime {
    left: 21%; }
    .waitTime p {
      font-size: 15px !important; }

  .playGame {
    height: 500px; }

  .pickCard, .playCards {
    width: 55px; }

  .showTimer {
    right: 1%; }

  .timer {
    width: 115px;
    height: 115px;
    padding: 10px 15px 20px 15px; }
    .timer p {
      margin-top: 5px !important;
      font-size: 12px; }
    .timer .timeSeconds {
      font-size: 40px; }

  .placeBtn {
    padding: 6px 10px !important;
    font-size: 13px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 10px !important; }

  .cardsTotal span {
    font-size: 12px !important; }

  .timerUser {
    width: 45px !important;
    height: 45px !important;
    border: 3px solid #fafafa !important;
    font-size: 22px !important;
    top: 40px !important;
    left: -30px !important; }

  .dropCard {
    width: 55px; }
    .dropCard h3 {
      font-size: 13px !important;
      margin-top: 5px !important; }
    .dropCard h6 {
      display: none !important; } }
@media screen and (max-width: 750px) and (min-width: 600px) {
  .userImg {
    width: 80px; }

  .userGameThumbnail {
    width: 86px; }

  .userName {
    font-size: 14px !important; }

  .waitTime {
    left: 20%; }
    .waitTime p {
      font-size: 14px !important; }

  .playGame {
    height: 430px; }

  .pickCard, .playCards {
    width: 40px; }

  .showTimer {
    right: 1%; }

  .timer {
    width: 100px;
    height: 100px;
    padding: 5px 10px 10px 5px; }
    .timer p {
      margin-top: 5px !important;
      font-size: 11px; }
    .timer .timeSeconds {
      font-size: 30px; }

  .placeBtn {
    padding: 5px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 10px !important; }

  .cardsTotal span {
    font-size: 10px !important; }

  .timerUser {
    width: 40px !important;
    height: 40px !important;
    border: 3px solid #fafafa !important;
    font-size: 18px !important;
    top: 30px !important;
    left: -30px !important; }

  .dropCard {
    width: 50px; }
    .dropCard h3 {
      font-size: 12px !important;
      margin-top: 5px !important; }
    .dropCard h6 {
      display: none !important; } }
@media screen and (max-width: 600px) and (min-width: 450px) {
  .userImg {
    width: 65px; }

  .userGameThumbnail {
    width: 70px; }

  .userName {
    font-size: 12px !important; }

  .waitTime {
    left: 20%; }
    .waitTime p {
      font-size: 12px !important; }

  .playGame {
    height: 370px; }

  .pickCard, .playCards {
    width: 30px; }

  .showTimer {
    right: 1%; }

  .timer {
    width: 80px;
    height: 80px;
    padding: 5px 5px 5px 5px;
    border: 3px solid #fafafa; }
    .timer p {
      margin-top: 8px !important;
      font-size: 10px; }
    .timer .timeSeconds {
      font-size: 25px; }

  .placeBtn {
    padding: 5px 5px !important;
    font-size: 11px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 5px !important; }

  .cardsTotal span {
    font-size: 9px !important; }

  .timerUser {
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #fafafa !important;
    font-size: 16px !important;
    top: 30px !important;
    left: -25px !important; }

  .dropCard {
    width: 60px; }
    .dropCard h3 {
      font-size: 14px !important;
      margin-top: 5px !important; }
    .dropCard h6 {
      margin-bottom: 5px; } }
@media screen and (max-width: 450px) {
  .userImg {
    width: 50px; }

  .userGameThumbnail {
    width: 55px; }

  .userName {
    font-size: 10px !important; }

  .waitTime {
    left: 20%; }
    .waitTime p {
      font-size: 10px !important; }

  .playGame {
    height: 300px; }

  .pickCard, .playCards {
    width: 25px; }

  .showTimer {
    right: 1%; }

  .timer {
    width: 75px;
    height: 75px;
    padding: 5px 1px 5px 1px;
    border: 2px solid #fafafa; }
    .timer p {
      margin-top: 8px !important;
      font-size: 9px; }
    .timer .timeSeconds {
      font-size: 20px; }

  .placeBtn {
    padding: 1px 3px !important;
    font-size: 10px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    margin-top: 3px !important; }

  .cardsTotal span {
    font-size: 8px !important; }

  .timerUser {
    width: 28px !important;
    height: 28px !important;
    border: 2px solid #fafafa !important;
    font-size: 12px !important;
    top: 20px !important;
    left: -20px !important; }

  .dropCard {
    width: 40px; }
    .dropCard h3 {
      font-size: 12px !important;
      margin-top: 3px !important; }
    .dropCard h6 {
      display: none !important; } }
.stats {
  margin-top: 70px; }

.statsTbl thead tr th {
  border-bottom: 2px solid #242424; }

.mainCol tr th:last-child, .mainCol tr td:last-child {
  background: #E9F9FA; }

.mainCol1 tr th:first-child, .mainCol1 tr td:first-child {
  background: #E9F9FA; }

/*# sourceMappingURL=index.css.map */
